{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title>Регистрация пользователя</title>

    </head>
    <body>

    <div class="header">
        <ui class="header-list">
            <li><a href="{% url 'index' %}">Home</a></li>
        </ui>
    </div>

    {% block content %}
    {% endblock %}

        <div class="footer">
            <p>copyright - 2023</p>
        </div>
    </body>
</html>